/* obtained from https://hammercroft.nekoweb.org/stylesheet.css @ 2026-01-21T12:21:22Z

/* Utility Styling */

/* Standard element styling */
html,
body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Overpass", sans-serif;
    font-size: 16px;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.02em;
}

h2 {
    font-size: 2.8rem;
    font-weight: 700;
    letter-spacing: 0.03em;
}

h3 {
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: 0.03em;
}

h4 {
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.07em;
}

h5 {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.022em;
    font-style: italic;
    text-transform: uppercase;
}

h6 {
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 0.25em;
    font-style: italic;
    text-transform: uppercase;
}

button {
    color: white;
    background-color: black;
    font-family: "Overpass", sans-serif;
    font-size: 1em;
    padding: 0.47em 0.8rem 0.3rem 0.8rem;
    border: hidden;
    border-radius: 6px;
    vertical-align: baseline;
    box-sizing: border-box;
    cursor: pointer;
}

button:hover,
button:focus {
    background: #406a80;
}

button:active {
    color: black;
    background-color: #CCC;
}

input[type="radio"] {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    cursor: pointer;
    margin-bottom: 0.27rem;
    /* Offset to adjust for font */
}

input[type="text"],
input[type="number"],
select,
input[type="date"] {
    font-family: "Overpass", sans-serif;
    font-size: 1em;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    padding: 0.16em 0.32em;
    background-color: rgba(255, 255, 255, 0.5);
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus,
input[type="date"]:focus {
    border-color: #6a9ae2;
    box-shadow: 0 0 3px rgba(106, 154, 226, 0.3);
    /* subtle focus */
}

textarea {
    font-family: "Overpass", sans-serif;
    font-size: 1em;
    line-height: normal;
    border: 1px solid #d0d7de;
    border-radius: 6px;
    padding: 0.25em 0.5em;
    vertical-align: baseline;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    width: 100%;
    /* full width by default */
    resize: vertical;
    /* allow vertical resize */
}

.textarea-no-resize {
    resize: none;
}

table {
    margin-bottom: 1em;
    margin-top: 0.5em;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 0 0 2px #a0a0a0;
    /* shadow instead of actual border */
    font-size: 1.1rem;
}

table th,
table td {
    border: 1px solid #949292;
    padding: 6px 13px;
}

table th {
    background-color: #dedede;
    font-weight: 600;
}

table tr:nth-child(even) {
    background-color: #b3b3b328;
}

.centered-table {
    margin-left: auto;
    margin-right: auto;
    min-width: 60%;
}

/* Building block styling */
#backToTop {
    cursor: pointer;
    display: block;
    text-align: center;
    margin: 1.5rem auto;
    font-weight: 300;
    font-size: 1.5em;
}

/* Top Navigator styling */
#topNavigator>nav {
    width: 100%;
    background-color: black;
    user-select: none;
    padding: 0.5rem 0;
}

#topNavigator>nav>.nav-content {
    max-width: 1440px;
    /* limit content width */
    width: calc(100% - 2rem);
    margin: 0 auto;
    /* center content */
    display: flex;
    gap: 0.5rem;
    font-size: 20px;
}

#topNavigator>nav>.nav-content a {
    color: white;
    text-decoration: none;
}

#topNavigator>nav>.nav-content a:hover {
    text-decoration: underline;
}

/* Content div styling */
#content {
    width: calc(100% - 2.2rem);
    max-width: 1024px;
    margin: 0 auto;
    flex: 1;
}

#content.content-classic-width {
    max-width: 768px;
}

/* Footer div styling */
#footer {
    background-color: black;
    color: white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#footer a {
    color: white;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

#footerNavigator {
    font-size: 24px;
}

#footer>.footer-content {
    width: calc(100% - 4rem);
    max-width: 1024px;
    margin: 0 auto;
}

#footer>.footer-content>.footer-div-item {
    display: inline-block;
    margin-right: 2rem;
}

#footerMisc {
    text-align: center;
    margin: 2rem 2rem;
    float: right;
}

/* MOBILE LAYOUT */
@media (max-width: 768px) {
    #topNavigator>nav {
        padding: 0.1rem 0;
    }

    nav>.nav-content {
        flex-direction: column;
        align-items: center;
        font-size: 16px;
        gap: 0.25rem;
    }

    nav>.nav-content a {
        display: block;
        width: 100%;
        text-align: center;
        padding-top: 0.33rem;
        padding-bottom: 0.33rem;
    }

    #topNavigator>nav>.nav-content .nav-site-title {
        font-size: 18px;
    }

    nav>.nav-content a:not(.nav-no-prefix)::before {
        content: "> ";
    }

    nav>.nav-content .nav-site-title {
        font-size: 12px;
    }

    #footer>.footer-content>.footer-div-item {
        display: block;
        margin: 2rem 2rem;
    }

    #footerNavigator>.nav-content {
        margin: 1rem auto;
        margin-bottom: 3rem;
    }

    #footerNavigator>.nav-content a:not(.nav-no-prefix)::before {
        content: "> ";
    }

    #footerMisc {
        float: unset;
    }

}