<div id="footer" aria-label="Site Footer">
    <div class="footer-content">
        <div class="footer-div-item" id="footerNavigator" role="navigation" aria-label="Footer Navigator">
            <div class="nav-content">
                <a href="/index">Hammercroft's NekoWeb</a>
                <br>
                <a href="/blogs">Blogs</a>
                <br>
                <a href="/articles">Articles</a>
                <br>
                <a href="/resources">Tools &amp; Resources</a>
                <br>
                <a href="/about">About Me &amp; Contact</a>
                <br>
            </div>
        </div>
        <div id="footerMisc" class="footer-div-item">
            <p>Made with &lt;3 by Hammercroft</p>
            <a href="https://nekoweb.org/" alt="Powered by NekoWeb!">
                <img src="https://nekoweb.org/assets/buttons/button3.gif">
            </a>
        </div>
    </div>
</div>